# Dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env
.env.*

# Editor folders
.vscode/
.idea/
.DS_Store

# Tailwind cache
.tailwindcss/

# Misc
*.local
